<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="main.css">
</head>
<body>
  <?xml version="1.0" encoding="utf-8"?><svg style="display: none;" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><style>:root>svg{display:none}:root>svg:target{display:block}</style><svg fill="none" viewBox="0 0 50 50" id="+yelow" xmlns="http://www.w3.org/2000/svg"><circle cx="25" cy="25" fill="#F90" r="25"/><path fill-rule="evenodd" clip-rule="evenodd" d="M25.057 24.057V9h.886v15.057H41v.886H25.943V40h-.886V24.943H10v-.886h15.057Z" fill="#fff"/></svg></svg>

  <svg>
    <use xlink:href="#+yelow"></use>
  </svg>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum beatae voluptate natus neque, hic harum eaque, aliquid cupiditate consequatur facere est tempore soluta ex nobis nemo odit et assumenda voluptatibus.</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus perferendis hic repudiandae odit? Esse sed eius ab totam doloremque laborum libero repellat commodi fugiat. Natus hic doloremque in ullam <atque class="lor">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla optio perferendis ad architecto quisquam, eos laborum velit harum cumque dignissimos dolor voluptatem. Inventore officia, pariatur aliquam voluptatibus perferendis at aperiam?</atque></p>
  <p class="Lorem">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum numquam, error mollitia maxime amet asperiores. Dolor delectus quam corporis, tempora quisquam consequuntur, illo, aliquam sunt totam eligendi voluptatibus itaque id.</p>
  <script src="vendor.js"></script>
  <script src="app.js"></script>
</body>
</html>