@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
    url('./fonts/roboto-v30-cyrillic_latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'TT-Firs';
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/TTFirs-Bold.woff2') format('woff2'),
    url('./fonts/TTFirs-Bold.woff') format('woff');
}

@font-face {
  font-family: 'TT-firs';
  font-weight: 400;
  src: url('../fonts/TTFirs-Regular.woff2') format('woff2'),
    url('../fonts/TTFirs-Regular.woff') format('woff');
}

*,
*:hover,
*:active,
*:focus {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;

  &::after,
  &::before,
  & {
    box-sizing: border-box;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #cacaca;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
svg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #cacaca;

}

$container-pad: 0 31px;

@mixin container {
  max-width: 1352px;
  margin: 0 auto;
  padding: $container-pad;
}

.header {

  background: #202020;

  &__list__closer {
    display: none;
  }

  &__phone {
    display: none;
  }

  .burger {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__nav {
    margin-right: 54px;
  }

  &__nav2 {
    display: none;
    margin-right: 54px;
  }

  &__link {
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:focus:not(:hover) {
      background-color: #BC572B;
      color: #fff;
    }

    &:hover {
      color: #FF6E30;
    }

    &:active {
      color: #CE4307;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include container();
    position: relative;

    .logo__link {
      display: flex;
      width: 190.25px;
      padding: 24px 0 25.3px 0;
    }
  }

  &__input {
    border: none;
    padding: 0;
    background: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    margin-right: 9px;
    flex-basis: 100%;

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: #E9E9E9;
    }
  }

  &__wrapper &__form {
    display: flex;
    min-width: 308px;
    position: absolute;
    right: 10px;
    top: 25px;
    background-color: #202020;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100px);
  }

  &__form.active {
    display: flex;
    transform: translateY(0);
  }
}

.header__item:not(:last-child) {
  margin-right: 81px
}

.hero {
  padding: 40px 0 67px 0;
  color: #fff;

  &__float {
    position: absolute;
    top: 17px;
    right: 16px;
    padding: 7px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: #202020
  }

  &__wrapper {
    @include container();
    display: grid;
    grid-template-columns: repeat(4, 23.25%);
    grid-template-rows: minmax(343px, 100%) minmax(255px, 100%);
    gap: 30px;
  }

}

.hcb1 {
  background: url('./images/Rectangle2.jpg') no-repeat center / cover;
  grid-row: 1/3;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 59px;
  position: relative;

  &__title {
    font-family: 'TT-Firs';
    max-width: 427px;
    font-weight: 700;
    font-size: 41px;
    line-height: 104%;
    margin-bottom: 19px;
  }

  &__descr {
    font-family: 'TT-Firs';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: -5px;
  }

  &__btn {
    padding: 15.5px 22px;
    background-color: #FF6E30;
    color: #FFFFFF;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:focus {
      padding: 12.5px 19px;
      border: 3px solid #CE4307;
    }

    &:hover {
      background: #BC572B;
    }

    &:active {
      background: #CE4307;
    }
  }
}

.hcb2 {
  grid-column: 3 / 5;

  &__title {
    margin-bottom: 14px;
    font-family: 'TT-Firs';
    font-weight: 700;
    font-size: 27.5px;

    line-height: 88%;

    color: #202020;
  }

  &__img {
    object-fit: cover;
  }
}

.hcb3 {
  background: url('./images/Rectangle\ 6.jpg') center no-repeat / cover;
}

.hcb4 {
  background: url('./images/Rectangle\ 3.jpg') center no-repeat / cover;
}

.about {
  background-color: #202020;
  padding: 28px 0 68px 0;

  &__title {
    font-family: "TT-Firs";
    font-weight: 700;
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 8px;
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }

  &__left {
    flex: 621px 0 1;
    margin-right: 30px
  }

  .wrappera {
    margin-right: 30px;
  }

  &__wrapper {
    @include container();
    display: flex;
    justify-content: space-between;
  }

  &__img {
    max-width: 630px;
    margin-bottom: 19px;
  }

  &__right {
    padding-top: 36px;
  }

  &__newsletter {
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  &__input__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    padding: 15px 23px;
    flex-basis: 474px;
    flex-grow: 0;
    background-color: #4A4A4A;
    color: #CACACA;
    border: none;
    width: 100%;

    &::placeholder {
      color: #CACACA;
    }

    &:focus {
      &::placeholder {
        color: #FF6E30;
      }
    }

    &:hover {
      padding: 14px 22px;
      border: 1px solid #FF6E30;
    }
  }

  &__btn {
    padding: 15.5px 22px;
    color: #fff;
    background-color: #FF6E30;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:focus {
      padding: 12.5px 19px;
      background: #FF6E30;
      border: 3px solid #CE4307;
    }

    &:hover {
      background: #BC572B;
    }

    &:active {
      background: #CE4307;
    }
  }
}

.project {
  padding: 68px 0;

  &__wrapper {
    @include container();
  }

  &__card__place {
    display: grid;
    grid-template-columns: 14.8% 14.8% 14.8% 23.3% 23.3%;
    grid-template-rows: 300px 300px;
    gap: 29px;
  }

  &__title {
    font-family: 'TT-Firs';
    font-style: normal;
    font-weight: 700;
    font-size: 27.5px;
    line-height: 31px;
    color: #202020;
    margin-bottom: 12px;
  }

  &__card {
    position: relative;

    &__img {
      margin-bottom: 18px;
    }

    &__float {
      position: absolute;
      padding: 6px 14px;
      background: #202020;
      top: 7px;
      right: 7px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
    }

    &__descr {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: #999999;
    }

    &__descr2 {
      margin-bottom: auto;
      max-width: 292px;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    &__title {
      margin-bottom: 6px;
      font-family: 'TT-Firs';
      font-weight: 700;
      font-size: 27px;
      line-height: 24px;
      max-width: 245px;
      color: #FFFFFF;
    }

    &__time {
      background: url('../images/mdi_calendar_today.svg') left top no-repeat;
      padding-left: 18px;
      font-size: 12px;
      line-height: 22px;
      color: #999999;
    }

    &__btn {
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      border: 3px solid #FF6E30;
      padding: 12.5px 20.5px;
      transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:focus {
        background: #BC572B;
      }

      &:hover {
        background-color: #FF6E30;
        border-color: #FF6E30;
      }

      &:active {
        background-color: #CE4307;
        border-color: #CE4307;
      }
    }
  }

  .pc-4 {
    grid-column: span 2 / span 5;
    background: url('../images/Rectangle\ 21.jpg') center / cover no-repeat;
    padding: 28px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .project__card__time {
      color: #fff;
      background: url('../images/mdi_calendar_today\ \(1\).svg') left top no-repeat;
    }
  }

  .pc-5 {
    grid-column: 1 / 4;
    background: url('../images/Rectangle\ 21\ \(1\).jpg') center / cover no-repeat;
    padding: 28px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .project__card__time {
      color: #fff;
      background: url('../images/mdi_calendar_today\ \(1\).svg') left top no-repeat;
    }
  }
}

.contact {
  padding-bottom: 68px;

  &__wrapper {
    @include container();
  }

  &__title {
    font-family: 'TT-Firs';
    font-style: normal;
    font-weight: 700;
    font-size: 27.5px;
    line-height: 31px;
    color: #202020;
    margin-bottom: 15px;
  }

  &__bottom {
    display: flex;

  }

  &__left {
    display: flex;
    position: relative;
    flex-basis: 850px;
    min-height: 460px;
    margin-right: 30px;
    margin-top: 8px;
  }

  &__text__block {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(32, 32, 32, 0.85);
    max-width: 410px;
    padding: 170px 60px 60px 60px;
  }

  &__title__min {
    font-family: 'TT-Firs';
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 27px;
    line-height: 22px;
  }

  &__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 3px;
  }

  &__phone {
    font-family: 'TT-Firs';
    font-style: normal;
    font-weight: 400;
    font-size: 17.5px;
    line-height: 21px;
    color: #FF6E30;
    display: block;

    & svg {
      margin-right: 4px;
    }
  }

  &__right {
    flex-basis: 410px;
  }

  &__closer {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__title__minr {
    font-family: 'TT-Firs';
    font-weight: 400;
    font-size: 26px;
    line-height: 22px;
    margin-bottom: 6px;
    color: #202020;
  }

  &__descrr {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    margin-bottom: 14px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  .wrappera {
    margin-bottom: 20px;
  }

  &__input {
    padding: 15px 23px 16px 23px;
    resize: none;
    border: none;
    background: #E9E9E9;
    color: #999999;
    width: 100%;
    position: relative;

    &:focus {
      padding: 14px 22px 15px 22px;
      background: #E9E9E9;
      border: 1px solid #FF6E30;
    }

    &:hover {
      &::placeholder {
        color: #FF6E30;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &__textarea {
      flex-basis: 150px;
    }

    &::placeholder {
      color: #999999;
    }
  }

  &__btn {
    align-self: flex-start;
  }
}

.wrappera {
  width: 100%;
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: 3px;
  left: 23px;
  color: #FF3030 !important;
  font-size: 9px;
  line-height: 11px;
}

.about__input,
.js-validate-error-field {
  color: #202020 !important;
  border-color: #FF3030 !important;
  padding: 14px 22px 15px;
}

.footer {
  padding: 24px 0 28px 0;
  background-color: #202020;
  ;

  &__wrapper {
    @include container();
    display: flex;
    justify-content: space-between;
  }

  &__left {}

  &__center {
    flex: 361px 0 1;
    margin-right: 137px;
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    width: 191px;
  }

  &__copy {
    font-family: 'TT-Firs';
    font-style: normal;
    font-weight: 400;
    font-size: 14.5px;
    line-height: 18px;
  }

  &__desc {
    &:not(:last-child) {
      margin-bottom: 8px;
    }

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  &__link svg {
    fill: #CACACA;
    transition: fill 0.3s ease-in-out;

    &:focus {
      fill:#BC572B ;
    }

    &:hover {
      fill: #FF6E30;
    }

    &:active{
      fill:#CE4307 ;
    }
  }

  &__link {
    display: inline-block;

    &:first-child {
      margin-right: 20px;
    }
  }
}

@media (max-width:1200px) {
  .header {
    .logo__link {
      width: 172px;
      padding-top: 27px;
    }

    &__item:not(:last-child) {
      margin-right: 35px;
    }
  }

  .hero {
    padding-top: 34px;

    &__wrapper {
      grid-template-columns: repeat(4, 22.65%);
      grid-template-rows: minmax(407px, 100%) minmax(186px, 100%);
    }

    .hcb2__img {
      max-height: 332px;
    }

    .hcb1 {
      padding: 30px;

      &__descr {
        font-size: 17px;
        margin-bottom: 4px;
      }

      &__title {
        font-size: 39px;
        line-height: 100%;
      }
    }

    .hcb2__title {
      margin-bottom: 26px;
    }
  }

  .about {
    padding-bottom: 81px;

    &__img {
      margin-bottom: 23px;
    }

    &__left {
      flex: 458px 0 1;
    }

    &__newsletter {
      margin-bottom: 17px;
    }

    &__input__wrapper {
      flex-direction: column;
    }

    &__input {
      flex-basis: auto;
      max-width: 342px;
      margin-bottom: 20px;
    }

    &__btn {
      align-self: flex-start;
    }
  }

  .project {
    &__card__place {
      grid-template-rows: 285px 307px 307px;
      grid-template-columns: repeat(8, 9.75%);
      gap: 24px 30px;
    }

    &__card__img {
      height: 184px;
      object-fit: cover;
      margin-bottom: 19px;
    }

    .pc-1 {
      grid-column: 1 / 3;
      display: flex;
      flex-direction: column;
    }

    .pc-2 {
      grid-column: 3 / 5;
      display: flex;
      flex-direction: column;
    }

    .pc-3 {
      grid-column: 5 / 9;
      display: flex;
      flex-direction: column;
    }

    .pc-4 {
      grid-column: 1 / 6;
    }

    .pc-5 {
      order: 4;
      grid-column: 4 / 9;
    }

    .pc-6 {
      grid-column: 6 / 9;
      display: flex;
      flex-direction: column;
    }

    .pc-7 {
      grid-column: 1 / 4;
      display: flex;
      flex-direction: column;
    }
  }

  .pc-1 .project__card__time,
  .pc-2 .project__card__time,
  .pc-3 .project__card__time,
  .pc-6 .project__card__time,
  .pc-7 .project__card__time {
    margin-top: auto;
  }

  .contact {
    &__left {
      flex-basis: 708px;
    }

    &__text__block {
      top: auto;
      padding: 19px 30px 21px 30px;
      min-width: 100%;
    }

    &__title__min {
      font-weight: 400;
      font-size: 24px;
      line-height: 22px;
    }

    &__phone {
      display: inline;
    }

    &__descr {
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      max-width: 300px;
    }
  }

  .footer__center {
    margin-right: 0;
    margin-left: 53px;
  }

  .footer__logo {
    width: 166px;
  }

  .footer {
    padding: 30px 0 15px;

    &__desc {
      margin-top: -5px;
    }
  }
}

@media (max-width:900px) {
  .header {
    &__wrapper {
      padding: 0 28px;
    }

    &__nav {
      display: none;
    }

    &__nav2 {
      width: 100%;
      background: #4A4A4A;
      display: block;

      .header__nav2__wrapper {
        padding: 12px 28px;
      }

      .header__list {
        justify-content: space-between;
        width: 100%;
      }
    }

    &__item:not(:last-child) {
      margin-right: 0;
    }
  }

  .header__nav2__wrapper {
    @include container();
    display: block;
  }

  .hero {
    padding-top: 36px;

    &__wrapper {
      padding: 0 28px;
      grid-template-rows: minmax(295px, 100%) minmax(133px, 100%);
      grid-template-columns: repeat(4, 1fr);
      gap: 24.4px;

    }

    .hcb2 {
      margin-top: -4px;

      &__title {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 25.4px;
        line-height: 93%;
      }
    }

    .hcb2__img {
      max-height: 228px;
    }

    .hcb1,
    .hcb3,
    .hcb4 {
      margin-right: 6px;
    }
  }

  .about {
    padding-bottom: 61px;

    &__wrapper {
      padding: 0 28px;
    }

    &__img {
      height: 568px;
      max-width: 459px;
      object-fit: cover;
    }
  }

  .project {
    padding-bottom: 72px;

    &__wrapper {
      padding: 0 28px;
    }

    &__card__place {
      gap: 27px 30px;
      grid-template-rows: 300px 300px 300px 300px;
      grid-template-columns: repeat(12, 1fr);
    }

    .pc-1 {
      grid-column: 1/5;
    }

    .pc-2 {
      grid-column: 5 / 9;
    }

    .pc-3 {
      grid-column: 9 / 13;
    }

    .pc-4 {
      grid-column: 1 / 13;
    }

    .pc-5 {
      grid-column: 1 / 13;
    }

    .pc-6 {
      grid-column: 1/7;
    }

    .pc-7 {
      grid-column: 7 / 13;
    }
  }

  .contact {
    &__title {
      margin-bottom: 22px;
    }

    &__wrapper {
      padding: 0 28px;
    }

    &__bottom {
      flex-direction: column;
    }

    &__left {
      flex-basis: 460px;
      margin: 0;
      margin-bottom: 24px;
    }

    &__descr {
      max-width: 405px;
    }

    &__phone {
      display: block;
    }

    &__text__block {
      padding: 25px 29px 21px;
    }

    &__right {
      max-width: 466px;
    }
  }

  .footer {
    &__center {
      display: none;
    }
  }
}

@media (max-width:576px) {
  .header {
    &__wrapper {
      padding: 0 21px;
    }

    &__list__closer {
      display: flex;
      width: 18px;
      margin-bottom: 16px;
    }

    &__list {
      margin-bottom: auto;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__link {
      font-size: 16px;
      line-height: 21px;
      color: #fff;
    }

    &__phone {
      display: flex;
      color: #FF6E30;
      font-size: 14px;
      line-height: 18px;
      font-weight: 700;

      & svg {
        width: 20px;
      }
    }

    &__list__wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      transition: transform 0.3s ease-in-out;
      transform: translateX(-200%);
      background-color: #4A4A4A;
      width: 100vw;
      height: 100vh;
      margin-top: -101px;
      left: 0;
      z-index: 4;
      padding: 14px 21px 36px 21px;
    }

    &__list__wrapper.active {
      transform: translateX(0);
    }

    &__list {
      flex-direction: column;
    }

    .logo__link {
      width: 111.55px;
    }

    &__btn {
      width: 20px;
    }

    .burger {
      display: block;

      &__line {
        width: 20px;
        height: 2px;
        background-color: #fff;
        margin-bottom: 6px;

        &:last-child {
          width: 10px;
          margin-bottom: 0;
        }
      }
    }

    &__nav2 {
      .header__nav2__wrapper {
        padding: 13px 21px;
      }
    }

  }

  .hero {
    padding-top: 30px;
    padding-bottom: 50px;

    &__float {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      padding: 4px 7px;
      top: 6px;
      right: 5px;
    }

    & .hcb2__img {
      max-height: 186px;
    }

    &__wrapper {
      padding: 0 21px;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 422px 240px 105px;
      gap: 33px 30px;
    }

    .hcb1 {
      grid-column: 1 /9;
      grid-row: 1;
      margin: 0;

      &__descr {
        font-size: 14px;
        line-height: 16px;
      }

      &__title {
        font-weight: 700;
        font-size: 26px;
        line-height: 96%;
      }

      &__btn {
        padding: 12px 22px;
        font-size: 14px;
        line-height: 16px;
      }
    }

    .hcb2 {
      grid-column: 1 / 9;
      grid-row: 2;

      &__title {
        font-size: 21px;
        line-height: 104%;
      }
    }

    .hcb3 {
      grid-column: 1/5;
      grid-row: 3;
    }

    .hcb4 {
      grid-column: 5/9;
      grid-row: 3;
    }
  }

  .hero .hcb1,
  .hero .hcb3,
  .hero .hcb4 {
    margin-right: 0;
  }

  .about {
    &__wrapper {
      padding: 0 21px;
      flex-direction: column;
    }

    &__title {
      font-size: 20.5px;
      line-height: 21px;
    }

    &__left {
      margin-right: 0;
    }

    &__descr {
      font-size: 14px;
      line-height: 25px;
    }

    &__right {
      padding-top: 24px;
    }

    &__img {
      height: 278px;
      margin-bottom: 25px;
    }

    &__newsletter {
      font-size: 18.4px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    &__input {
      padding: 10px 23px;
    }

    &__btn {
      font-size: 14px;
      padding: 10.5px 22px;
    }
  }

  .project {
    padding: 48px 0;
    padding-bottom: 28.5px;

    &__wrapper {
      padding: 0 22px
    }

    &__title {
      font-size: 21px;
    }

    &__card__place {
      grid-template-columns: repeat(4, 1fr);
      gap: 22px;
      grid-template-rows: 294px 287px 277px 423px 306px 304px 422px;
    }

    &__card__float {
      top: 3px;
      right: 4px;
      padding: 3px 10px;
    }

    &__card__btn {
      padding: 8.5px 12.5px;
    }

    .pc-1 {
      grid-column: 1 / 5;
    }

    .pc-2 {
      grid-column: 1 / 5;
    }

    .pc-3 {
      grid-column: 1 / 5;
    }

    .pc-4 {
      grid-column: 1 / 5;
      justify-content: flex-end;
    }

    .pc-5 {
      grid-column: 1 / 5;
      justify-content: flex-end;
    }

    .pc-6 {
      grid-column: 1 / 5;
    }

    .pc-7 {
      grid-column: 1 / 5;
    }

    &__card__descr2 {
      margin-bottom: 19px;
      font-size: 14px;
      line-height: 134%;
    }

    &__card__title {
      margin-bottom: 10px;
    }
  }

  .contact {
    padding-bottom: 51px;

    &__wrapper {
      padding: 0 21px;
    }

    &__bottom {
      position: relative;
    }

    &__left {
      position: relative;
      left: -21px;
      width: 100vw;
      flex-basis: 472px;
      margin-bottom: 20px;
    }

    &__title {
      font-size: 19.5px;
      margin-bottom: 11px;
    }

    &__text__block {
      padding: 9.5px 19px;
      padding-top: 23px;
    }

    &__title__min {
      font-size: 20.49px;
      margin-bottom: 15px;
    }

    &__descr {
      font-size: 14px;
      line-height: 150%;
    }

    &__phone {
      font-size: 14.5px;
    }

    &__title__minr {
      font-size: 20px;
    }

    &__descrr {
      font-size: 14px;
      line-height: 20px;
    }

    &__input {
      padding-bottom: 6px;
    }
  }

  .footer {
    padding-top: 35px;
    padding-bottom: 0;

    &__wrapper {
      padding: 0 21px;
      flex-direction: column-reverse;
      position: relative;
    }

    &__right {
      margin-bottom: 29px;
    }

    &__left {
      position: relative;
      left: -21px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 12px 0;
      background-color: #4A4A4A;
    }

    &__logo {
      width: 112px;
    }

    &__copy {
      font-size: 10.5px;
    }
  }
}
#map {
  width: 100%;
  background: red;
}
.ymaps-2-1-79-controls__control_toolbar {
  display: none !important;
}
.ymaps-2-1-79-controls__control {
  display: none !important;
}
.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}
.ymaps-2-1-79-copyright.ymaps-2-1-79-copyright_logo_no {
  display: none !important;
}
.ymaps-2-1-79-map {
  width: 100% !important;
  height: 100% !important;
}
.ymaps-2-1-79-image  {
  width: 12px !important;
  height: 12px !important;
  background-repeat: no-repeat !important;
  background-size: 12px 12px !important;
  background-size: cover !important;
}
ymaps canvas {
  filter: grayscale(1);
}