@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@font-face {
  font-family:"SF Pro Display" ;
  src: url("./assets/SF-Pro-Display-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
img , svg {
  width: 100%;
}
* ,
 *::after ,
 *::before,
 body,
 p,h1,h2,h3,h4,h5,h6,span,ul,ol,li,a
 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 885px;
  padding: 0 50px;
  margin: 0 auto;
}
body{
  background-color: #1E1E1E;
  flex-basis: 885px;
}
button{
  border: none;
  cursor: pointer;
}
html{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
