<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Test</h1>
  </div>
  <div class="flyid__container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt ratione qui et rerum inventore possimus eligendi ex nam expedita fugiat tenetur, nostrum minima, labore alias voluptate enim a eaque sed.</p>
  </div>
  <div class="card__place">
    <div class="card">
      <div class="card__wrapper"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, nesciunt, pariatur porro amet blanditiis, enim iusto minus quam suscipit quasi ullam animi molestiae dolor error aliquam laborum consequuntur velit qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus assumenda ex facere impedit cum eum odit enim? Officia delectus ut qui quis alias sequi quos maiores, optio ex odio impedit.</p></div>
    </div>
    <div class="card">
      <div class="card__wrapper"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, nesciunt, pariatur porro amet blanditii.</p></div>
    </div>
    <div class="card">
      <div class="card__wrapper"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, nesciunt, pariatur porro amet blanditiis, enim iusto minus quam suscipit quasi ullam animi molestiae dolor error aliquam laborum consequuntur velit qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam est explicabo quasi aliquid modi assumenda possimus placeat suscipit eos ducimus repellat rem accusamus esse, quo corporis unde adipisci. Similique, iure. Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nobis debitis enim consequuntur cumque dignissimos delectus. Accusantium illo consectetur, perferendis debitis minima reiciendis vero qui recusandae ullam? Aliquam, praesentium ipsam?</p></div>
    </div>
    <div class="card">
      <div class="card__wrapper"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, nesciunt, pariatur porro amet blanditiis, enim iusto minus quam suscipit quasi ullam animi molestiae dolor error aliquam laborum consequuntur velit qui.</p></div>
    </div>
    <div class="card">
      <div class="card__wrapper"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, nesciunt, pariatur porro amet blanditiis, enim iusto minus quam suscipit quasi ullam animi molestiae dolor error aliquam laborum consequuntur velit qui.</p></div>
    </div>
    
  </div>
</body>
</html>