/* helper tools */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'font', sans-serif;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}
.hide-this {
    display: none;
}
/* global */
.container {
    width: 1170px;
    margin: 0 auto;
}
.title {
    margin: 0;
    padding-left: 30px;
    margin-bottom: 20px;
}
.text {
    margin: 0;
}
.item-text {
    margin: 0;
}
.section-inden-bottom{
    margin-bottom: 70px;
}
/* header */
.header-lagoona {
    padding-top: 30px;
    margin-bottom: 70px;
}
.header-lagoona-href-section {
    margin-bottom: 30px;
    align-items: center;
}
.href-lagoona-logo{
    font-size: 0;
    margin-right: 40px;
}
.personal-area-lagoona {
}
.header-lagoona-nav{
    padding: 0 45px;
    justify-content: space-between;
}
.lagoona-section-list-item:not(:last-child) {
    margin-right: 45px;
}
.nav-header-lagoona {
    margin-right: auto;
}
.nav-lagoona-header-buttons {
    
}
.btn-nav{
    margin-right: 40px;
}
.lagoona-addres-href{
    margin-right: auto;
}
/* special deal section */
.special-deal-list-item{
    padding: 45px 40px;
}
.special-deal-list-item{
    width: 573px;
    outline: 1px solid black;
}
.special-deal-list-item:not(:last-child){
    margin-bottom: 24px;
}
.list-item-min {
    margin-right: 24px;
}
.deal-list-item-title{
    margin: 0;
}
.list-item-max {
    padding-top: 212px;
}
.item-link {
    display: block;
}
.item-title {
    margin-bottom: 15px;
}
.price {
    display: block;
    margin-bottom: 47px;
}
/* services */
.services-list{
    flex-wrap: wrap;
}
.services-list-item {
    width: 573px;
    padding-top: 191px;
    margin-bottom: 24px;
    outline: 1px solid black;
    padding-left:45px ;
    padding-bottom: 35px;
}
.services-list-item:not(:nth-child(2n)){
    margin-right: 24px;
}
.services-list-item:nth-last-child(-n+2) {
    margin-bottom: 0;
}
/* benefits */
.benefits-list {
    flex-wrap: wrap;
}

.benefits-list-item {
    width: 276px;
    padding-top: 116px;
    padding-left: 45px;
    padding-bottom: 32px;
    outline: 1px solid black;
    margin-bottom: 22px;
}
.benefits-list-item:not(:nth-child(4n)){
    margin-right:22px ;
}
.benefits-list-item:nth-last-child(-n+4)    {
    margin-bottom: 0;
}

/* accomadation */
.accommadation-list{
    flex-wrap: wrap;
}
.accommadation-list-item {
    width: 374px;
    margin-bottom: 24px;
    outline: 1px solid black;
}
.accommadation-list-item:not(:nth-child(3n)){
    margin-right: 24px;
}
.accommadation-list-item:nth-last-child(-n+3){
    margin-bottom: 0;
}
.accommadation-item-rating {
    display: inline-block;
    margin-left: 32px;
}
.acammoddation-card-body {
    padding: 0 45px ;
    padding: 32px;
    padding-bottom: 45px;
}
.look-at-all-variants {
    padding: 374px 70px 27px 54px ;
}