@media (max-width:1462px) {
  .btn__footer {
    margin-bottom: 10px;
  }
}
@media (max-width:1300px) {
  :root {
    --container-padding:50px;
  }
  .header {
    margin-bottom: 40px;
  }
  .burger {
    display: flex;
  }
  .logo {
    height: 48px;
  }
  .header__wraper {
    padding: 26px 0;
  }
  .header__nav {
    display: none;
  }
  .nav__block {
    width: auto;
  }
  .footer__right {
    display: none;
  }
  .wraper__text {
    max-width: 700px;
  }
  .hero__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 16px;
  }
  .hero__descr {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
  }
  .hero__btn {
    margin-bottom: 115px;
  }
  .hero__wraper {
    padding: 160px 80px;
    padding-bottom: 30px;
  }
  .section-offset {
    margin-bottom: 40px;
  }
  .about__bottom {
    flex-direction: column;
  }
  .about__bottom__left {
    width: 100%;
    padding-top: 450px;
    margin-bottom: 32px;
  }
  .about__bottom__block {
    padding-bottom: 95px;
    padding-left: 316px;
    background-position: 75px 65px;
  }

  .about__bottom__block:last-child {
    padding-bottom: 60px;
  }
  .about__bottom__right {
    width: 100%;
  }
  .how {
    margin-bottom: 82px;
  }
  .picture__img {
    object-fit: cover;
    width: 100%;

  }


  .faq__item__title {
    padding: 35px 0;
    font-size: 20px;
    line-height: 32px;
    padding-right: 140px;
  }
  .faq {
    margin-bottom: 80px;
  }

  .btn__footer {
    padding: 19px 38px;
  }
  .footer__left {
    margin-right: 0;
  }
  .how__title {
    margin-bottom: 45px;
  }
  .how__list{
    margin-bottom: 45px;
    max-width: 460px;
    justify-content: space-between;
  }
  .how__item:not(:last-child){
    margin-right: 0;
  }
  .how__block__text {
    margin-bottom: 23px;
  }
  .about {
    margin-bottom: 83px;
  }
  
}
@media (max-width:1125px) {
  .btn__how {
    margin-bottom: 10px;
  }
  
}
@media (max-width:1023px) {
  .burger__menu {
    padding: 22px 50px;
  }
  .section-offset {
    margin-bottom: 35px;
  }
  .header__wraper{
    padding: 10px 0;
  }
  .wraper__text {
    max-width:588px ;
  }
  .hero__title {
    font-weight: 800;
    font-size: 50px;
    line-height: 61px;
  }
  .hero__wraper {
    padding: 160px 40px;
    padding-bottom: 30px;
  }

  .about {
    margin-bottom: 80px;
  }
  .how {
    margin-bottom: 37px;
  }
  .how__list {
    justify-content: space-between;
    margin-bottom: 41px;
  }
  .about__bottom__left {
    margin-bottom:25px ;
  }
  .about__bottom__left_wraper {
    padding: 40px;
  }
  .about__bottom__block:last-child {
    padding-bottom: 35px;
  }
  .about__bottom__block {
    padding: 35px 40px;
    padding-left: 170px;
    background-position: 40px 68px;
    background-size: 114px 99px;
  }
  .how__list {
    max-width: 100%;
  }
  .how__picture {
    width: 100%;
    margin-bottom: 30px;
  }
  .how__block {
    order: 1;
    width: 100%;
  }
  .how__bottom{
    flex-direction: column;
  }
  .how__block__text {
    margin-bottom: 25px;
  }
  .faq__item__title {
    padding-right: 85px;
    padding-bottom: 25px;
    padding-top: 37px;
  }
  .footer__nav {
    display: none;
  }
  .footer__left {
    order: 1;
    flex-direction: row;
  }
  .footer__center {
    margin-bottom: 40px;
    margin-right: 0;
  }
  .footer__wraper {
    flex-direction: column;
  }
  .faq {
    margin-bottom: 115px;
  }
}
@media (max-width:576px) {
  :root {
    --container-padding:15px ;
  }
  .search__menu {
    width: 320px;
    right: 0;
  }
  .search {
    margin: 0;
    width: 87%;
  }
  .section-offset {
    margin-bottom: 62px;
  }
  .logo {
    height: 35px;
  }
  .header__logo {
    margin-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  .header__wraper {
    padding: 17px 0;
  }
  .burger__menu {
    width: 320px;
    padding: 23px 15px;
  }
  .hero__wraper {
    padding: 60px 12px;
    padding-bottom: 15px;
    border-radius: 16px;
  }
  .wraper__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero__title {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
  }
  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 32px;
  }
  .hero__btn {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 34px;

  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .text {
    font-size: 14px;
    line-height: 28px;
  }
  .about {
    margin-bottom: 60px;
  }
  .about__bottom__left::before {
    content: "";
    height: 200px;
    width: 100%;
    background: url(../img/about-us-bkg.jpg) no-repeat center top;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 8px;
  }
  .about__bottom__left {
    display: flex;
    flex-direction: column;
    background-image: none;
    padding-top: 0px;
    border-radius: 0;
    margin-bottom: 32px;
  }
  .about__bottom__left_wraper {
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
    flex-direction: column;
  }
  .about__bottom__left__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000;
    margin-bottom: 8px;
  }
  .about__text {
    max-height: 672px;
    overflow: hidden;
  }
  .about__top {
    margin-bottom: 14px;
  }
  .about__btn {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 44px;
    color: #FF9900;
  }
  .about__btn:active {
    color: #fff;
  }
  .about__bottom__block {
    padding: 0;
    border: none;
    padding-top: 61px;
    background-size: 62px 56px;
    background-position: left top;
  }
  .about__bottom__block:last-child {
    padding-bottom: 0;
  }
  .about__block__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  .about__block__text {
    font-size: 14px;
    line-height: 28px;
  }
  .how {
    margin-bottom: 50px;
  }
  .how__title {
    margin-bottom: 13px;
  }
  .how__list {
    margin-bottom: 8px;
  }
  .how__picture {
    object-fit: cover;
    width: 100%;
    height: 160px;
    margin-bottom: 16px;
  }
  .picture__img {
    border-radius: 8px;
  }
  .how__item:not(:last-child) {
    margin-right: 0;
  }
  .how__link__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .how__block__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .btn__how {
    margin-right: 3px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 44px;
  }
  .btn__how-2 {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 12px 32px;
  }
  .faq__title {
    margin-bottom: 13px;
  }
  .faq__item__title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-right: 30px;
    background-size: 30px 30px;
    padding-bottom: 28px;
    padding-top: 31px;
  }
  .footer {
    padding: 32px 0;
  }
  .btn {
    border-radius: 8px;
  }
  .form__bottom {
    display: flex ;
    flex-direction: column;
    align-items: center;
    border-bottom: #414141 1px solid;
    padding-bottom: 16px;
  }
  .btn__footer {
    padding: 12px 28px;
    margin: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
  .--footer__text__area {
    margin-bottom: 22px;
  }
  .footer__logo {
    height: 42px;
    margin-bottom: 17px;
  }
  .social__link {
    width: 40px;
    height: 40px;
  }
  .social__link:not(:last-child) {
    margin-right: 17px;
  }
  .footer__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__center {
    margin-bottom: 16px;
  }
  .label__text {
    font-size: 15px;
    line-height: 32px;
  }
}