<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header class="header-lagoona">
        <div class="container">
            <div class="header-lagoona-href-section">
                <a href="#" class="href-lagoona-logo">
                    <img src="./images/logo.svg" alt="lagoona logo">
                </a>
                <a class="lagoona-addres-href" href="tel:+74953225448">+7 495 322-54-48</a>
                <a href="#" class="personal-area-lagoona">Личный кабинет</a>
            </div>
            <div class="header-lagoona-nav">
                <nav class="nav-header-lagoona">
                    <ul class="lagoona-container-list">
                        <li class="lagoona-container-list-item">
                            <a href="#about-us" class="sectiom-item-href">
                                О нас
                            </a>
                        </li>
                        <li class="lagoona-section-list-item">
                            <a href="#services" class="section-item-href">
                                Услуги
                            </a>
                        </li>
                        <li class="lagoona-section-list-item">
                            <a href="#benefits" class="section-item-href">
                                Преимущества
                            </a>
                        </li>
                        <li class="lagoona-section-list-item">
                            <a href="#accommodation" class="section-item-href">
                                Размещение
                            </a>
                        </li>
                        <li class="lagoona-section-list-item">
                            <a href="#" class="section-item-href">
                                Блог
                            </a>
                        </li>
                        <li class="lagoona-section-list-item">
                            <a href="#contacts  " class="section-item-href">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-lagoona-header-buttons">
                    <button class="lagoona-btn btn-nav">
                        Хочу тур
                    </button>
                    <button class="lagoona-btn btn-nav">
                        Обратный звонок
                    </button>
                </div>
            </div>
        </div>
    </header>
    <main class="main-lagoona">
        <h1 class="hide-this">Сеть отелей lagoona</h1>
        <section id="special-deal" class="special-deal">
            <div class="container">
                <h2 class="title special-deal-title">Спецпредложения</h2>
                <div class="section-list special-deal-list">
                    <div class="list-item-min"> 
                        <div class="list-item special-deal-list-item">
                        <h3 class="item-title deal-list-item-title">Мальдивские острова</h3>
                        <span class="price">55 000₽</span>
                        <a href="#" class="item-link deal-list-item-link">Подробнее</a>
                        </div>
                        <div class="list-item special-deal-list-item">
                        <h3 class="item-title deal-list-item-title">Горящий тур на остров Крит</h3>
                        <span class="price">30 000₽</span>
                        <a href="#" class="item-link deal-list-item-link">Подробнее</a>
                    </div>
                </div>
                <div class="list-item-max list-item special-deal-list-item">
                    <h3 class="item-title deal-list-item-title">Номера категории люкс</h3>
                    <span class="price">5 000₽</span>
                    <a href="#" class="item-link deal-list-item-link">Подробнее</a>
                </div>
            </div>
            </div>
        </section>
        <section id="about-us" class="about-us">
            <div class="container">
                <h2 class="title about-us-title">О нас</h2>
                <p class="text about-us">
                    Идейные соображения высшего порядка, а&nbsp;также сложившаяся структура организации влечёт
                    за&nbsp;собой процесс внедрения и&nbsp;модернизации системы обучения кадров, соответствует насущным
                    потребностям. Идейные соображения высшего порядка, а&nbsp;также дальнейшее развитие различных форм
                    деятельности представляет собой интересный эксперимент проверки системы обучения кадров,
                    соответствует насущным потребностям. Равным образом сложившаяся структура организации требуют
                    определения и&nbsp;уточнения существенных финансовых
                    и&nbsp;административных условий.
                </p>
            </div>
        </section>
        <section id="services" class="services">
            <div class="container">
                <h2 class="title services-title">Услуги</h2>
                <ul class="section-list services-list">
                    <li class="list-item services-list-item">

                        <h3 class="list-item-title services-list-item-title">
                            <a href="#" class="item-link services-list-item-link">
                                Эксклюзивное обслуживание
                            </a>
                        </h3>
                        <p class="item-text services-list-item-text">Равным образом постоянный количественный рост
                            и&nbsp;сфера нашей активности</p>
                    </li>
                    <li class="list-item services-list-item">
                        <h3 class="list-item-title services-list-item-title">
                            <a href="#" class="item-link services-list-item-link">
                                Аренда банкетных залов
                            </a>
                        </h3>
                        <p class="item-text services-list-item-text">Значимость этих проблем настолько очевидна,
                            что дальнейшее развитие различных форм</p>
                    </li>
                    <li class="list-item services-list-item">
                        <h3 class="list-item-title services-list-item-title">
                            <a href="#" class="item-link services-list-item-link">
                                Сауны, бассейны, бани, фитнес-залы
                            </a>
                        </h3>
                        <p class="item-text services-list-item-text">Не&nbsp;следует, однако забывать, что начало
                            повседневной работы по&nbsp;формированию позиции</p>
                    </li>
                    <li class="list-item services-list-item">
                        <h3 class="list-item-title services-list-item-title">
                            <a href="#" class="item-link services-list-item-link">
                                Охраняемые автомобильные стоянки
                            </a>
                        </h3>
                        <p class="item-text services-list-item-text">Не&nbsp;следует, однако забывать, что начало
                            повседневной работы по&nbsp;формированию позиции</p>
                    </li>
                </ul>
            </div>
        </section>
        <section id="benefits" class="benefits">
            <div class="container">
                <h2 class="title benefits-title">Преимущества</h2>
                <ul class="section-list benefits-list">
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Идейные соображения высшего порядка,а&nbsp;также
                            постоянный количественный рост</p>
                    </li>
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Значимость этих проблем настолько очевидна, что вопрос
                            остаётся открытым</p>
                    </li>
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Таким образом реализация плановых заданий играет важную
                            роль для понимания</p>
                    </li>
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Повседневная практика показывает, что сложившаяся
                            структура организации</p>
                    </li>
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Равным образом рамки и&nbsp;место обучения кадров
                            способствует подготовки сотрудника</p>
                    </li>
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Консультация с активом влечёт за собой процесс внедрения
                            услуг нашего сервиса</p>
                    </li>
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Повседневная практика показывает, что дальнейшее
                            развитие различных </p>
                    </li>
                    <li class="list-item benefits-list-item">
                        <p class="item-text benefist-item-text">Значимость этого настолько очевидна, что консультация
                            наших экспертов помогает</p>
                    </li>
                </ul>
            </div>
        </section>
        <section id="accommodation" class="accommodation">
            <div class="container">
                <h2 class="title accommadationtitle">Размещение</h2>
                <ul class="section-list accommadation-list">
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">4698</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="4 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-0.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona española</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">5148</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="4 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-0.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona son típicas</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">6254</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="5 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona de laguerra</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>   
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">6320</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="5 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona mentirapiadosa</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>   
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">6457</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="4 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-0.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona empujar lacreatividad</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>   
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">6320</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="4 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-0.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona el retorno</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>   
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">6505</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="5 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona mentirapiadosa</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>   
                    <li class="list-item accommadation-list-item">
                        <article class="card">
                            <img src="./images/cammodition-1" alt="иконка" class="list-item-icon accommadation-list-item-icon">
                            <div class="card-body cammoddation-card-body">
                                <div class="item-rating-block accommadation-item-rating-block">
                                    <span class="span-from"> от </span> <span class="span-price">6824</span> <span class="span-night">/ночь</span>
                                    <div class="item-rating accommadation-item-rating">
                                        <img src="./images/star-1.svg" alt="4 из 5">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-1.svg" alt="">
                                        <img src="./images/star-0.svg" alt="">
                                    </div>
                                </div>
                                <h3 class="place-name">Lagoona suertesiguió siempre</h3>
                                <p class="place-country-city">Барселона, Испания</p>
                                <button class="lagoona-btn card-btn">Номера</button>
                            </div>
                        </article>
                    </li>   
                    <li class="item-text accommadation-item-text">
                        <a href="#" class="item-link accommadation-item-link">Посмотреть все варианты</a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- <article id="want-a-tour" class="want-a-tour"></article>
        <section id="contacts" class="contacts">
            <div class="container">
                <h2 class="title contacts-title">Контакты</h2>
                <ul class="section-list contacts-list">
                    <li class="list-item contacts-list-item">
                        <h3 class="item-title contacts-item-title"></h3> Адрес
                        <address>
                            Москва, улица Юности, дом 5 строение 4, офис 2
                        </address>
                    </li>
                    <li class="list-item contacts-list-item">
                        <h3 class="item-title contacts-item-title">Телефоны</h3>
                        <address class="item-addres contacts-item-addres">
                            <a class="item-link contacts-item-link" href="tel:+74995356434">+7 499 535-64-34</a>
                            <a class="item-link contacts-item-link" href="tel:+74950050544">+7 495 005-05-44</a>
                        </address>
                    </li>
                    <li class="list-item contacts-list-item">
                        <h3 class="item-title contacts-item-title">Email</h3>
                        <address class="item-addres contacts-item-addres">
                            <a class="item-link addres-item-link" href="mailto:hotels.ln@mail.ru">hotels.ln@mail.ru</a>
                            <p class="addres-text">по вопросам сотрудничества</p>
                        </address>
                        <address class="item-addres contacts-item-addres">
                            <a class="item-link addres-item-link" href="mailto:lg.oona@mail.ru">lg.oona@mail.ru</a>
                            <p class="addres-text">по вопросам бронирования</p>
                        </address>
                    </li>
                    <li class="list-item contacts-list-item">
                        <h3 class="item-title contacts-item-title">График</h3>
                        <p class="item-text contacts-item-text">
                            Понедельник-пятница, с 10:00 до 19:00
                        </p>
                    </li>
                </ul>
                <button class="lagoona-btn btn-contacts">построить маршрут</button>
            </div>
        </section>
    </main>
    <footer id="footer-lagoona" class="footer-lagoona">
        <div class="container">
            <ul class="section-list footer-list">
                <li class="list-item footer-list-item">
                    <p class="item-text footer-item-text">
                        &copy;&nbsp;2012&ndash;2020 Управляющая компания Объединённой сети &laquo;Лагуна Хотелс&raquo;
                    </p>
                </li>
                <li class="list-item footer-list-item">
                    <P class="item-text footer-item-text">
                        Представленная на&nbsp;сайте информация носит справочный характер и&nbsp;не&nbsp;является
                        публичной офертой
                    </P>
                </li>
                <li class="list-item footer-list-item">
                    <a href="#" class="list-item-link footer-list-item-link">Пользовательское соглашение</a>
                </li>
            </ul>
            <ul class="section-list footer-list">
                <li class="list-item footer-list-item">
                    <address>11710, улица Юности, дом 5 строение 4, офис 2</address>
                </li>
                <li class="list-item footer-list-item">
                    <address class="item-addres footer-item-addres">
                        <a class="item-link addres-item-link" href="tel:+74995356434">+7 499 535-64-34</a>
                        <a class="item-link addres-item-link" href="tel:+74950050544">+7 495 005-05-44</a>
                    </address>
                </li>
                <li class="list-item footer-list-item">
                    <address class="item-addres footer-item-addres">
                        <a class="item-link addres-item-link" href="mailto:hotels.ln@mail.ru">hotels.ln@mail.ru</a>
                    </address>
                    <address class="item-addres footer-item-addres">
                        <a class="item-link addres-item-link" href="mailto:lg.oona@mail.ru">lg.oona@mail.ru</a>
                    </address>
                </li>
            </ul>
            <ul class="section-list footer-list">
                <li class="list-item footer-list-item">
                    <a href="#"><img src="./images/Component25.svg" alt="Сайт"></a>
                </li>
                <li class="list-item footer-list-item">
                    <a href="https://ok.ru"><img src="./images/ok.svg" alt="Однокласники"></a>
                </li>
                <li class="list-item footer-list-item">
                    <a href="https://vk.com"><img src="./images/social.svg" alt="Вк"></a>
                </li>
            </ul>
        </div>
    </footer> -->
    </main>
</body>

</html>
<!-- v2 -->